<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>AIU-SITP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/0/07/Ala-Too_International_University_Seal.png/220px-Ala-Too_International_University_Seal.png" />
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top" style="color: white;">
    <div class="w3-bar w3-padding w3-card" style="letter-spacing:4px; background-color: #2d2652">
        <a th:href="@{/adminPage}" class="w3-bar-item w3-button">Student Information-Test portal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{/department/index}" class="w3-bar-item w3-button">Departments</a>
            <a th:href="@{/faculty/index}" class="w3-bar-item w3-button">Faculties</a>
            <a th:href="@{/exam/index}" class="w3-bar-item w3-button">Exams</a>
            <a th:href="@{/test/index}" class="w3-bar-item w3-button">Tests</a>
            <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
        </div>
    </div>
</div>
<!-- Header -->
<div class="main">
    <header class="w3-display-container w3-content w3-wide" style="max-width:1000px;min-width:500px" id="home">
        <div class="w3-image" style="width:1000px; height:550px">
            <div class="w3-display-bottomleft w3-padding-large" style="text-align: center">
                <img style="" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/07/Ala-Too_International_University_Seal.png/220px-Ala-Too_International_University_Seal.png">
                <div style="height: 3px; margin-top: 80px; background-color: #2d2652"></div>
                <h1 style="color: #2d2652">ALA-TOO INTERNATIONAL UNIVERSITY</h1>
                <h1 style="color: #2d2652">STUDENT INFORMATION TEST PORTAL</h1>
                <div style="height: 3px;background-color: #2d2652"></div>
                <!--<a th:href="@{/getStockPage}"><button>See Stock</button></a>-->
            </div>
        </div>
    </header>
</div>
<!-- Footer -->
<footer class="w3-center" style="text-align: center; position: absolute; left: 0; bottom: 0; width: 100%; height: 2.5rem; background-color: #2d2652; color: whitesmoke">
    <p title="IMS-AIU" target="_blank" class="w3-hover-text-green">Created by Tilek Dzhusukeev | 2021</p>
</footer>

</body>
</html>