<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>AIU-SITP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/0/07/Ala-Too_International_University_Seal.png/220px-Ala-Too_International_University_Seal.png" />
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top" style="color: white;">
    <div class="w3-bar w3-padding w3-card" style="letter-spacing:4px; background-color: #2d2652">
        <a th:href="@{/adminPage}" class="w3-bar-item w3-button">Student Information-Test portal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a th:href="@{/department/index}" class="w3-bar-item w3-button">Departments</a>
            <a th:href="@{/faculty/index}" class="w3-bar-item w3-button">Faculties</a>
            <a th:href="@{/subject/index}" class="w3-bar-item w3-button">Subjects</a>
            <a th:href="@{/exam/index}" class="w3-bar-item w3-button">Exams</a>
            <a th:href="@{/test/index}" class="w3-bar-item w3-button">Tests</a>
            <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width: 95%">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col">
            <h2 style="color: #2d2652; padding-top: 40px">All departments</h2>
            <div class="w3-col l6 w3-padding-large">
                <a th:href="@{/department/create}">
                    <button type="button" class="btn btn-primary" style="background-color: #2d2652;">Add Department</button>
                </a>
            </div>
            <form action="#" id="searchForm" th:action="@{/department/search}" method="post" th:object="${pattern}">
                <div class="table">
                    <table class="table table-striped table-responsive-md btn-table" data-pagination="true" data-side-pagination="server">

                        <thead>
                        <tr>
                            <th><input type="text" name="name" class="form-control input-filter" placeholder="Item Name" th:field="*{name}"/></th>
                            <th><input type="text" name="description" class="form-control input-filter" placeholder="Item Description" th:field="*{description}"/></th>
                            <th>Факультет</th>
                            <th><button class="btn btn-primary" type="submit" style="background-color: #2d2652;">Search</button></th>
                        </tr>
                        </thead>

                        <tbody>
                        <th:block th:each="s : ${departments}">
                            <tr>
                                <td><a th:href="@{/department/get/__${s.id}__}"><p th:text="${s.name}"></p></a></td>
                                <td th:text="${s.description}">...</td>
                                <td th:text="${s.faculty}">...</td>
                            </tr>
                        </th:block>
                        </tbody>

                    </table>
                    <div class="row">
                        <div class="form-group col-md-1">
                            <select class="form-control pagination" id="pageSizeSelect" style="width: 60px; height: 30px">
                                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                        th:value="${pageSize}"
                                        th:selected="${pageSize} == ${selectedPageNumber}"></option>
                            </select>
                        </div>
                        <div th:if="${departments.totalPages != 1 && departments.totalPages != 0}"
                             class="form-group col-md-11 pagination-centered">
                            <ul class="pagination">
                                <li th:class="${departments.number == 0} ? disabled"><a
                                        class="pageLink"
                                        th:href="@{/listDepartment(name=*{name},type=*{type}, description=*{description}, size=${selectedPageNumber}, page=1)}">«</a>
                                </li>
                                <li th:class="${departments.number == 0} ? disabled"><a
                                        class="pageLink"
                                        th:href="@{/department/list(name=*{name},type=*{type}, description=*{description}, size=${selectedPageNumber}, page=${departments.number})}">←</a>
                                </li>
                                <li
                                        th:class="${departments.number == (page-1)} ? 'active pointer-disabled'"
                                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                    <a class="pageLink"
                                       th:href="@{/department/list(name=*{name},type=*{type}, description=*{description}, size=${selectedPageNumber}, page=${page})}"
                                       th:text="${page}"></a>
                                </li>
                                <li
                                        th:class="${departments.number + 1 == departments.totalPages} ? disabled">
                                    <a class="pageLink"
                                       th:href="@{/department/list(name=*{name},type=*{type}, description=*{description}, size=${selectedPageNumber}, page=${departments.number + 2})}">→</a>
                                </li>
                                <li
                                        th:class="${departments.number + 1 == departments.totalPages} ? disabled">
                                    <a class="pageLink"
                                       th:href="@{/department/list(name=*{name},type=*{type}, description=*{description}, size=${selectedPageNumber}, page=${departments.totalPages})}">»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End page content -->
</div>

<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/department/list?name=&type&description&size=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>